/* Google Fonts */

.alan-sans-light {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.alan-sans-regular {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alan-sans-title {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.alan-sans-bold {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Theming */

:root {
  --bg: white;
  --text: black;
  --link: #008b8b;
}
/* Globals */

html body {
  background: var(--bg);
  color: var(--text);
  transition:
    background-color 0.3s,
    color 0.3s;

  text-align: center;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--link);
}

/* Dark/Light Toggle */
.checkbox-image input {
  display: none;
}

.checkbox-image img.dark {
  display: none;
}

.checkbox-image input:checked ~ img.light {
  display: none;
}

.checkbox-image input:checked ~ img.dark {
  display: inline;
}

/* List */

/* Topbar */
.topbar {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.topbar h1 {
  text-align: center;
}

.topbar .checkbox-image {
  display: flex;
  position: absolute;
  right: 2rem;
  justify-content: right;
}

/* Footer */
.footer {
  display: flex;

  margin-top: 60dvh;

  text-align: center;
  justify-content: center;
}
